/**/

#hr{
  border-color: black;
  border-block-end-width: 100px; 
}
.xd{
  color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#logo{
  width:320px;
  height:150px;
}
#cps{
  width:310px;
  height:150px;
}
#Nos{
  margin-top:12px;
}